
.idea/domains.iml
.idea/domains.iml
.idea/domains.iml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/domains.iml
.idea/encodings.xml
.idea/misc.xml
localhost/.htaccess
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/domains.iml
*.png
php/train.local/images/uploaded.jpg
*.xml
*.JPG
